apiVersion: apps/v1
kind: Deployment
metadata:
name: ecom-backend
labels:
app: ecom-backend
spec:
replicas: 2
selector:
matchLabels:
app: ecom-backend
template:
metadata:
labels:
app: ecom-backend
spec:
containers:
- name: ecom-backend
image: YOUR_DOCKERHUB_USERNAME/ecom-backend:latest
imagePullPolicy: Always
ports:
- containerPort: 3000
resources:
requests:
cpu: "100m"
memory: "128Mi"
limits:
cpu: "300m"
memory: "256Mi"